<div class="modal fade" id="notifications-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header header">
        <p class="modal-title text-center">Notifications</p>
        <i
          class="fa fa-close close cursor-pointer"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body body d-flex flex-column gap-3">
        <div class="w-100">
          @if (hasUnreadNotifications()) {
          <p
            (click)="markAllNotificationsAsRead()"
            class="mark-as-read text-end"
          >
            Mark all as read
          </p>
          }
        </div>
        @for (dateGroup of dateGroupedNotifications() | keyvalue; track $index)
        {
        <h5 class="date-group-title">{{ dateGroup.key }}</h5>
        <div>
          @for (notification of dateGroup.value; track $index) {
          <app-notification-modal-item
            [notification]="notification"
          ></app-notification-modal-item>
          }
        </div>
        } @empty {
        <div
          class="d-flex flex-column justify-content-center align-items-center gap-3 no-notifications-container"
        >
          <i class="fa-solid fa-bell-slash no-notifications-bell"></i>
          <h4>It is silent over here</h4>
        </div>
        }
      </div>
    </div>
  </div>
</div>
