<div *ngIf="currentUser$ | async as user" class="col-md-12 navbar-content">
  <h2 routerLink="/" class="title p-2 cursor-pointer">Postify</h2>
  <div class="mt-4 navbar-sub-content">
    <ul class="p-0 nav-items list-unstyled">
      <li routerLink="/" class="nav-item cursor-pointer p-2">
        <i class="fa-solid fa-home me-3"></i>
        Start page
      </li>
      <li class="nav-item cursor-pointer mt-3 p-2">
        <i class="fa-solid fa-search me-3"></i>
        Search
      </li>
      <li class="nav-item cursor-pointer mt-3 p-2">
        <i class="fa-solid fa-paper-plane me-3"></i>
        Chat messages
      </li>
      <li
        class="nav-item cursor-pointer mt-3 p-2"
        data-toggle="modal"
        data-target="#notifications-modal"
      >
        <i class="fa-solid fa-bell me-3">
          @if (notificationReceived()) {
          <div class="indicator"></div>
          }
        </i>
        Notifications
      </li>
      <li
        (click)="onViewOwnProfileClicked(user.id)"
        routerLink="/profile/{{ user.id }}"
        class="nav-item cursor-pointer mt-3 p-2"
      >
        <img
          draggable="false"
          class="img-fluid"
          src="data:image/png;base64,{{ user.pictureUrl }}"
          alt="profile-img"
        />
        Profile
      </li>
    </ul>
  </div>
</div>
<app-notifications-modal
  (onMarkUserNotificationsAsReadEmitter)="getUserNotifications()"
  [userNotifications]="userNotifications"
></app-notifications-modal>
