.navbar-content {
  height: 82vh;

  .title {
    user-select: none;
    font-family: "Oleo Script" !important;
  }
  .navbar-sub-content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav-items {
      .nav-item {
        border-radius: 0.5rem;
        transition: 0.3s ease-in-out;
        i {
          font-size: 1.2rem !important;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }

        &:hover {
          background-color: #262626;
        }
      }
    }

    p {
      transition: 0.3s ease-in-out;
      border-radius: 0.5rem;

      &:hover {
        color: #ffffff !important;
        background-color: rgb(65, 9, 9);
      }
    }
  }
}
