<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-md-2 navbar-container p-5">
            <app-navbar></app-navbar>
        </div>
        <div class="main-container col-md-10 d-flex justify-content-center">
            <div class="col-md-8 post-container py-5">
                <app-post-top-navigation class="w-100"></app-post-top-navigation>
                <app-story-bubble-list class="w-100"></app-story-bubble-list>
                <app-post-list class="w-100"></app-post-list>
            </div>
            <div class="col-md-4 friends-container p-5">
                Friends
            </div>
        </div>
    </div>
</div>