@if (profile) {
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-2 navbar-container p-5">
                <app-navbar></app-navbar>
            </div>
            <div class="main-container col-md-10">
                <div class="user-container d-flex col-md-12">
                    <div class="profile-img-container text-end col-md-3">
                        <img draggable="false" class="profile-img" src="data:image/png;base64,{{profile.pictureUrl}}" alt="profile-picture">
                    </div>
                    <div class="user-info-container col-md-9">
                        <div class="section-1 d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-4">
                                <p class="username">{{profile.userName}}</p>
                                @if (!isOwnProfile() && friendship) {
                                    <app-friendship-status-button [user]="profile" [status]="friendship.status"></app-friendship-status-button>
                                }
                                @if(isOwnProfile())
                                {
                                    <button class="btn profile-btn gray-btn">Edit profile</button>
                                    <i data-toggle="modal" data-target="#profile-settings-modal" class="fa-solid fa-gear gear cursor-pointer"></i>
                                }
                            </div>
                        </div>
                        <div class="section-2 d-flex align-items-center gap-5 mt-4">
                            <p (click)="onPostCountClicked()" class="cursor-pointer"><strong>{{profile.posts.length}} </strong>posts</p>
                            <p (click)="onFollowersCountClicked()" class="cursor-pointer" data-toggle="modal" data-target="#friendship-modal"><strong>{{profile.followersCount}} </strong>followers</p>
                            <p (click)="onFollowingsCountClicked()" class="cursor-pointer" data-toggle="modal" data-target="#friendship-modal"><strong>{{profile.followingCount}} </strong>following</p>
                        </div>
                        <div class="section-3 mt-3">
                            <p>{{profile.firstName}} {{profile.lastName}}</p>
                        </div>
                    </div>
                </div>
                <div class="post-container mt-5">
                    <app-profile-tab-list #tabListComponent [profile]="profile" [currentUser]="currentUser"></app-profile-tab-list>
                </div>
            </div>
        </div>
        <app-friendship-model [friendShipKind]="friendShipKind" [userId]="currentUser?.id" [friendships]="friendships"></app-friendship-model>
        <app-profile-settings-model></app-profile-settings-model>
    </div>
}