@switch (status) {
    @case (FriendShipStatusEnum.Following) {
        <div class="d-flex align-items-center gap-3">
            <button (click)="setUserToUnfollow()" class="btn profile-btn gray-btn" data-toggle="modal" data-target="#unfollow-user-modal">Following</button>
            @if (isProfilePage) {
                <button class="btn profile-btn gray-btn">Message</button>
            }
        </div>
    }
    @case (FriendShipStatusEnum.FollowBack) {
        <button (click)="followUser()" class="btn profile-btn blue-btn">Follow Back</button>
    }
    @case (FriendShipStatusEnum.Pending) {
        <button (click)="setUserToUnfollow()" class="btn profile-btn gray-btn" data-toggle="modal" data-target="#unfollow-user-modal">Pending</button>
    }
    @case (FriendShipStatusEnum.Follow) {
        <button (click)="followUser()" class="btn profile-btn blue-btn">Follow</button>
    }
}

<!-- Unfollow user model -->
<app-unfollow-user-model></app-unfollow-user-model>